html,body {
    padding: 0;
    margin: 0;
}
header {
    height: 15vh;
    background-image: url('/img/paber1.png');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
header>img {
    width: 100px;
    height: 60px;
    padding: 1em;
}
header>nav>ul {
    display: flex;
    justify-content: center;
    margin:0;
}
footer>nav>ul {
    display: flex;
    justify-content: center;
    margin:0;
    margin-top:4em;
}

header>nav>ul>li  {
    padding:1em 3em;
    list-style-type: none;
    background-image: url('/img/paber2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size:x-large;
    text-transform: uppercase;
    color: #DE07AD;
}

footer>nav>ul>li {
    padding:1em 3em;
    list-style-type: none;
    background-image: url('/img/paber2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size:x-large;
    text-transform: uppercase;
    color: #DE07AD;
}


footer {
    height: 15vh;
    background-image: url('/img/paber1.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#feature img {
    height: 90vh;
    margin-left: 4em;
    margin-top: -10vh;
}